body {
    background-color: black !important;
}

#title_pag2{
    color: aliceblue;


}
header {
    text-align: center;
    margin: 30px auto;
}

/*Barra de navegacion para todas las paginas*/

.navbar{
    text-align: center;
    font-family: 'Times New Roman', Times, serif !important;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center !important; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    
}

.navbar ul{
    font-size: 20px;
}
.navbar li{
    display: inline;
    margin: 100px;
}

.navbar a{
    color: black;
    text-decoration: none !important;
}

#carrito{
    margin-left: 1100px;
    margin-top: -30px;
    

}

/* Fin barra de navegacion para todas las paginas*/

.row {
    display: flex;
    justify-content: space-between; /* Asegura que las tarjetas estén a los extremos */
    align-items: center; /* Opcional, alinea verticalmente si es necesario */
    width: 100%; /* Asegúrate de que ocupe todo el ancho */
}

.col-md-4 {
    width: 45% !important; /* Tamaño de las tarjetas */
}


footer {
    display: flex;
    justify-content: space-between; /* Espaciar elementos */
    align-items: center; /* Alinear verticalmente */
    padding: 10px;
    background-color: #ffffff;
    border-top: 10px solid #000000;
    
}

.foot {
    margin: 0; /* Elimina los márgenes */
    color: rgb(0, 0, 0);
    text-align: center;
}



